.random-photo {
    &__button {
        margin-bottom: 1rem;
    }
    &__photo {
        width: 300px;
        height: 300px;
        border-radius: 0.5rem;
        background-color: #eee;

        & > img {
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            vertical-align: middle;
        }
    }
}
